* {
    padding: 0;
    margin: 0;
}

body {
    padding: 50px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;

}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact {
    background-color: orangered;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    color: white;
    margin-top:10px;

}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size:30px;
    margin-top:10px;
}

.section-two,.section-three,.section-four,.section-five{
    margin-top: 10px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc, .section-five__rights{
    margin-top:10px;
}
.section-three__desc li, .section-four__desc li{
    list-style: none;
}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-five__handles a{
    color:skyblue;
}

.section-three{
    background-color: #6462fd;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding:20px;
    color:black;
    vertical-align: top;
    
}

.section-four{
    background-color: #fe7517;
    display: inline-block;
    border-radius: 10px;
    padding:20px;
    height: 200px;
    color: black;
    vertical-align: top;
}

.contact-form{
    margin-top:20px;
}

.contact-form__input,.contact-form__textarea, .contact-form__submit{
    margin-top:10px;
    padding: 10px;
}

.contact-form__submit{
    background-color: orangered;
    color:black;
    border:none;
}

.contact-form__input{
    border:none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    border: solid black 1px;
}